.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: 7rem;
    height: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.f-left {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -2rem;
    padding-left: 3.5rem;
}


.f-left>:nth-of-type(1) {
    color: var(--black);
    font-size: 15px;
    width: 26rem;
    width: 22rem;
    margin-top: 0.7rem;
}


.f-mid {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1rem;
    padding-left: 7.5rem;

}

.f-mid>span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0.3rem;
}


.f-right {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 5rem;
    margin-top: -2rem;
    display: grid;
    text-align: center;


}

.f-right>span {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#f-social {
    color: #454545;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

#f-social:hover {
    color: var(--blueCard);
    text-shadow: 0px 0px 30px var(--blueCard);

    transition: all 0.2s ease-in;

}

/* for responsiveness */
@media screen and (max-width: 840px) {

    .f-left {
        /* margin-left: -3rem; */
        display: none;
    }

    .f-mid {
        position: relative;
        margin-left: -4.5rem;
    }

    .f-mid>span:nth-child(1) {
        font-size: 1rem;
    }

    .f-right {
        flex-direction: column;
        position: relative;
        margin-top: -0.9rem;
        margin-left: -3.5rem;
    }

    .f-right>span:nth-child(1) {
        padding-left: 9rem;
        font-size: 24px;
    }

    .f-social {
        font-size: xx-large;
        width: 1rem;
        gap: 1px;
    }
}